@charset "UTF-8";

.create {
  width: 520px;
  margin: auto;
  .el-form {
    height: 100%;
  }
  .mics {
    max-height: calc(100% - 125px);
    overflow-y: auto;
  }
  .mic-status {
    position: absolute;
    left: -10px;
    width: 5px;
    height: 100%;
    bottom: 0;
    overflow: hidden;
    .bar {
      position: absolute;
      width: 5px;
      height: 100%;
      background-color: #32f932;
      bottom: 0;
      transform: translate3d(0, 100%, 0);
      transition: transform 50ms;
    }
  }
  .del-mic {
    float: right;
    text-align: right;
  }
}