@charset "UTF-8";

.meet {
  .header {
    position: relative;
    z-index: 1;
    .file-list {
      padding-top: .8rem;
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;
      max-height: 50px;
    }
  }
  .body {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 115px 0 55px 0;
    &.transfer {
      padding-top: 140px;
    }
    .el-table {
      height: 100%;
    }
    .edit-area {
      text-align: left;
      outline: none;
      margin: 0;
      white-space: normal;
    }
    .edited {
      background: #e2f0e4;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    right: 8px;
  }
}
